<launch>
	<arg name="user_debug" default="false" />
    <arg name="model" default="$(find livelybot_urdf)/xacro/robot.xacro" />
	<param name="robot_description" command="$(find xacro)/xacro $(arg model) DEBUG:=$(arg user_debug) " />
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find livelybot_urdf)/rviz/livelybot.rviz" />
</launch>